.App-header {
  background-color: white;
  height: 20%;
  padding: 1.2%;
  color: black;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.react-nav {
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


.carousel-inner > .item > img {
  /* max-height: 550px;
  width: 100%;
  line-height: 1;
  margin:auto;
  overflow: hidden; */
  display: block;

  max-height: 500px;
  
  margin: auto;
}

.tooltip-inner {
  background-color: lightgrey;
  color: black;
}

